In [73]:
import pandas as pd 
import numpy as np 
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import calendar 
%matplotlib inline
from wordcloud import WordCloud, STOPWORDS
import warnings
warnings.filterwarnings('ignore')

import sys

In [81]:
sys.path.append("SRC") 
import src.support as sp

ModuleNotFoundError: No module named 'src'

# CARGAMOS TODOS NUESTROS CSV Y LOS CONVERTIMOS A DATAFRAMES.

In [2]:
df_hours = pd.read_csv("../data/Book1.csv")
df_title = pd.read_csv("../data/games_steam.csv")
df_developer = pd.read_csv("../data/games_data.csv", encoding= 'unicode_escape')

In [3]:
df_hours.head()

   ID                            \nName Peak No. of Players  Hours Played
0   1  Counter-Strike: Global Offensive              944,895  411,196,700
1   2                          Lost Ark              580,042  279,812,296
2   3                            Dota 2              719,422  326,014,122
3   4               PUBG: BATTLEGROUNDS              524,023  159,781,183
4   5                      Apex Legends              370,651  137,813,200

In [4]:
df_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    200 non-null    int64
 1
Name                 200 non-null    object
 2   Peak No. of Players   200 non-null    object
 3   Hours Played          200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [5]:

nulos_hours = (df_hours.isnull().sum() / df_hours.shape[0] * 100).reset_index()
nulos_hours = nulos_hours[nulos_hours[0] > 0]
nulos_hours.columns = ["columnas", "%_nulos"]
nulos_hours

Empty DataFrame
Columns: [columnas, %_nulos]
Index: []

In [6]:
df_hours.shape

(200, 4)

In [7]:
df_hours.head()

   ID                            \nName Peak No. of Players  Hours Played
0   1  Counter-Strike: Global Offensive              944,895  411,196,700
1   2                          Lost Ark              580,042  279,812,296
2   3                            Dota 2              719,422  326,014,122
3   4               PUBG: BATTLEGROUNDS              524,023  159,781,183
4   5                      Apex Legends              370,651  137,813,200

In [8]:
df_hours.columns

Index(['ID', '\nName', 'Peak No. of Players ', 'Hours Played'], dtype='object')

In [9]:
df_hours['Hours Played']=df_hours['Hours Played'].str.replace(',','').astype('float64')

In [10]:
df_hours['Peak No. of Players '] = df_hours['Peak No. of Players '].str.replace(',','').astype('float64')

In [11]:
df_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    200 non-null    int64
 1
Name                 200 non-null    object
 2   Peak No. of Players   200 non-null    float64
 3   Hours Played          200 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ KB

In [12]:
df_hours.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,200.0,1.005000e+02,5.787918e+01,1.0,50.75,100.5,150.25,200.0
Peak No. of Players,200.0,4.044411e+04,1.051887e+05,2964.0,7609.50,14464.0,29625.50,944895.0
Hours Played,200.0,1.612826e+07,4.489661e+07,164366.0,2862349.25,4758623.5,11851169.75,411196700.0

In [13]:
#TOP JUEGOS POR HORAS DE TIEMPO JUGADAS
Max10Played = df_hours.sort_values(by='Hours Played',ascending=False).head(10)
Max10Played

    ID                            \nName  Peak No. of Players   Hours Played
0    1  Counter-Strike: Global Offensive              944895.0   411196700.0
2    3                            Dota 2              719422.0   326014122.0
1    2                          Lost Ark              580042.0   279812296.0
3    4               PUBG: BATTLEGROUNDS              524023.0   159781183.0
4    5                      Apex Legends              370651.0   137813200.0
7    8                        ELDEN RING              367192.0   130510173.0
5    6                Grand Theft Auto V              138025.0    60165044.0
9   10                              Rust              141983.0    57656656.0
11  12                   Team Fortress 2               94815.0    53764425.0
16  17                         Destiny 2               93881.0    41697664.0

In [14]:
#TOP JUEGOS POR  NÚMERO DE JUGADORES 
Max10Play = df_hours.sort_values(by='Peak No. of Players ',ascending=False).head(10)
Max10Play

    ID                            \nName  Peak No. of Players   Hours Played
0    1  Counter-Strike: Global Offensive              944895.0   411196700.0
2    3                            Dota 2              719422.0   326014122.0
1    2                          Lost Ark              580042.0   279812296.0
3    4               PUBG: BATTLEGROUNDS              524023.0   159781183.0
4    5                      Apex Legends              370651.0   137813200.0
7    8                        ELDEN RING              367192.0   130510173.0
9   10                              Rust              141983.0    57656656.0
6    7                NARAKA: BLADEPOINT              138617.0    39020908.0
5    6                Grand Theft Auto V              138025.0    60165044.0
12  13                      Dread Hunger              107437.0    31239372.0

In [15]:
top10Players=df_hours.sort_values(by='Peak No. of Players ',ascending=False).head(10)
top10Players

    ID                            \nName  Peak No. of Players   Hours Played
0    1  Counter-Strike: Global Offensive              944895.0   411196700.0
2    3                            Dota 2              719422.0   326014122.0
1    2                          Lost Ark              580042.0   279812296.0
3    4               PUBG: BATTLEGROUNDS              524023.0   159781183.0
4    5                      Apex Legends              370651.0   137813200.0
7    8                        ELDEN RING              367192.0   130510173.0
9   10                              Rust              141983.0    57656656.0
6    7                NARAKA: BLADEPOINT              138617.0    39020908.0
5    6                Grand Theft Auto V              138025.0    60165044.0
12  13                      Dread Hunger              107437.0    31239372.0

In [16]:

df_hours.to_csv('hoursplayed.csv', header=False, index=False)

# AHORA INTENTAREMOS ENRIQUECER LA INFORMACIÓN DE RATING Y GENEROS DE LOS MISMOS.

In [17]:
df_title.head(10)

,ResponseName,ReleaseDate,Metacritic,RecommendationCount,IsFree,GenreIsNonGame,GenreIsIndie,GenreIsAction,GenreIsAdventure,GenreIsCasual,GenreIsStrategy,GenreIsRPG,GenreIsSimulation,GenreIsEarlyAccess,GenreIsFreeToPlay,GenreIsSports,GenreIsRacing,GenreIsMassivelyMultiplayer,PriceInitial
0,Counter-Strike,Nov 1 2000,88,68991,False,False,False,True,False,False,False,False,False,False,False,False,False,False,9.99
1,Team Fortress Classic,Apr 1 1999,0,2439,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99
2,Day of Defeat,May 1 2003,79,2319,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99
3,Deathmatch Classic,Jun 1 2001,0,888,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99
4,Half-Life: Opposing Force,Nov 1 1999,0,2934,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99
5,Ricochet,Nov 1 2000,0,1965,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99
6,Half-Life,Nov 8 1998,96,12486,False,False,False,True,False,False,False,False,False,False,False,False,False,False,9.99
7,Counter-Strike: Condition Zero,Mar 1 2004,65,7067,False,False,False,True,False,False,False,False,False,False,False,False,False,False,9.99
8,Counter-Strike: Condition Zero,Mar 1 2004,65,7067,False,False,False,True,False,False,False,False,False,False,False,False,False,False,9.99
9,Half-Life: Blue Shift,Jun 1 2001,71,2219,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99

In [18]:
df_title.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12624 entries, 0 to 12623
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ResponseName                 12624 non-null  object
 1   ReleaseDate                  12538 non-null  object
 2   Metacritic                   12624 non-null  int64
 3   RecommendationCount          12624 non-null  int64
 4   IsFree                       12624 non-null  bool
 5   GenreIsNonGame               12624 non-null  bool
 6   GenreIsIndie                 12624 non-null  bool
 7   GenreIsAction                12624 non-null  bool
 8   GenreIsAdventure             12624 non-null  bool
 9   GenreIsCasual                12624 non-null  bool
 10  GenreIsStrategy              12624 non-null  bool
 11  GenreIsRPG                   12624 non-null  bool
 12  GenreIsSimulation            12624 non-null  bool
 13  GenreIsEarlyAccess           12624 non-null  bool
 14  GenreIsFreeToPlay            12624 non-null  bool
 15  GenreIsSports                12624 non-null  bool
 16  GenreIsRacing                12624 non-null  bool
 17  GenreIsMassivelyMultiplayer  12624 non-null  bool
 18  PriceInitial                 12624 non-null  float64
dtypes: bool(14), float64(1), int64(2), object(2)
memory usage: 665.8+ KB

In [19]:
df_title.shape

(12624, 19)

In [20]:
df_title.describe()

         Metacritic  RecommendationCount  PriceInitial
count  12624.000000         1.262400e+04  12624.000000
mean      12.955640         1.245043e+03      9.290024
std       28.094054         1.560722e+04     14.164946
min        0.000000         0.000000e+00      0.000000
25%        0.000000         0.000000e+00      1.990000
50%        0.000000         0.000000e+00      5.990000
75%        0.000000         2.692500e+02      9.990000
max       96.000000         1.427633e+06    449.990000

In [21]:
df_title.isnull().sum()

ResponseName                    0
ReleaseDate                    86
Metacritic                      0
RecommendationCount             0
IsFree                          0
GenreIsNonGame                  0
GenreIsIndie                    0
GenreIsAction                   0
GenreIsAdventure                0
GenreIsCasual                   0
GenreIsStrategy                 0
GenreIsRPG                      0
GenreIsSimulation               0
GenreIsEarlyAccess              0
GenreIsFreeToPlay               0
GenreIsSports                   0
GenreIsRacing                   0
GenreIsMassivelyMultiplayer     0
PriceInitial                    0
dtype: int64

calculamos el porcentaje de nulos que tiene nuestro dataset y en qué columna

In [22]:
def porcentaje_nulos(a):
    return (a.isnull().sum() / a.shape[0] * 100).reset_index()

In [23]:
porcentaje_nulos(df_title)

                          index         0
0                  ResponseName  0.000000
1                   ReleaseDate  0.681242
2                    Metacritic  0.000000
3           RecommendationCount  0.000000
4                        IsFree  0.000000
5                GenreIsNonGame  0.000000
6                  GenreIsIndie  0.000000
7                 GenreIsAction  0.000000
8              GenreIsAdventure  0.000000
9                 GenreIsCasual  0.000000
10              GenreIsStrategy  0.000000
11                   GenreIsRPG  0.000000
12            GenreIsSimulation  0.000000
13           GenreIsEarlyAccess  0.000000
14            GenreIsFreeToPlay  0.000000
15                GenreIsSports  0.000000
16                GenreIsRacing  0.000000
17  GenreIsMassivelyMultiplayer  0.000000
18                 PriceInitial  0.000000

In [24]:
#Calculamos el porcentaje de nulos que tiene nuestro dataset y en qué columna


nulos = (df_title.isnull().sum() / df_title.shape[0] * 100).reset_index()
nulos = nulos[nulos[0] > 0]
nulos.columns = ["columnas", "%_nulos"]
nulos

      columnas   %_nulos
1  ReleaseDate  0.681242

In [25]:
df_title.head()

,ResponseName,ReleaseDate,Metacritic,RecommendationCount,IsFree,GenreIsNonGame,GenreIsIndie,GenreIsAction,GenreIsAdventure,GenreIsCasual,GenreIsStrategy,GenreIsRPG,GenreIsSimulation,GenreIsEarlyAccess,GenreIsFreeToPlay,GenreIsSports,GenreIsRacing,GenreIsMassivelyMultiplayer,PriceInitial
0,Counter-Strike,Nov 1 2000,88,68991,False,False,False,True,False,False,False,False,False,False,False,False,False,False,9.99
1,Team Fortress Classic,Apr 1 1999,0,2439,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99
2,Day of Defeat,May 1 2003,79,2319,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99
3,Deathmatch Classic,Jun 1 2001,0,888,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99
4,Half-Life: Opposing Force,Nov 1 1999,0,2934,False,False,False,True,False,False,False,False,False,False,False,False,False,False,4.99

In [26]:
df_title.drop(['GenreIsNonGame',"GenreIsIndie","GenreIsAction","GenreIsAdventure","GenreIsCasual",
               "GenreIsStrategy","GenreIsRPG","GenreIsSimulation","GenreIsEarlyAccess","GenreIsFreeToPlay",
               "GenreIsSports","GenreIsRacing","GenreIsMassivelyMultiplayer"], axis=1,inplace = True)

In [27]:
df_title.columns

Index(['ResponseName', 'ReleaseDate', 'Metacritic', 'RecommendationCount',
       'IsFree', 'PriceInitial'],
      dtype='object')

In [28]:
TopRated = df_title.sort_values(by='Metacritic',ascending=False).head(10)
TopRated

,ResponseName,ReleaseDate,Metacritic,RecommendationCount,IsFree,PriceInitial
3088,Grand Theft Auto V,Apr 13 2015,96,136846,False,59.99
6,Half-Life,Nov 8 1998,96,12486,False,9.99
232,BioShock(tm),Aug 21 2007,96,16260,False,19.99
10,Half-Life 2,Nov 16 2004,96,35792,False,9.99
928,Portal 2,Apr 18 2011,95,73144,False,19.99
26,Portal 2,Apr 18 2011,95,73128,False,19.99
24,Portal 2,Apr 18 2011,95,73128,False,19.99
631,Mass Effect 2,Jan 26 2010,94,7263,False,19.99
273,BioShock Infinite,Mar 25 2013,94,55512,False,29.99
1365,The Elder Scrolls V: Skyrim,Nov 10 2011,94,182587,False,19.99

In [29]:
plt.savefig('save_as_a_png.png')

In [30]:
df_title.to_csv('titulos.csv', header=False, index=False)

In [31]:
df_developer.describe().T

               count      mean       std  min  25%  50%  75%  max
mac_support  73340.0  0.214644  0.410578  0.0  0.0  0.0  0.0  1.0
lin_support  73339.0  0.149498  0.356581  0.0  0.0  0.0  0.0  1.0

In [32]:
df_developer.head(10)

,id,title,release_date,developer,publisher,genres,multiplayer_or_singleplayer,price,dc_price,overall_review,detailed_review,reviews,percent_positive,win_support,mac_support,lin_support
0,0,Counter-Strike: Global Offensive,2012-08-21,Valve;Hidden Path Entertainment,Valve,Action;Free to Play,Multi-player;Steam Achievements;Full controlle...,Free to play,Free to play,Positive,Very Positive,6774812,88%,1,1.0,1.0
1,1,Dota 2,2013-07-09,Valve,Valve,Action;Free to Play;Strategy,Multi-player;Co-op;Steam Trading Cards;Steam W...,Free to play,Free to play,Positive,Very Positive,1885261,82%,1,1.0,1.0
2,2,"Warhammer 40,000: Darktide",NaN,NaN,NaN,NaN,NaN,"2,199","2,199",Positive,Mostly Positive,26092,72%,1,0.0,0.0
3,3,Call of Duty®: Modern Warfare® II,NaN,NaN,NaN,NaN,NaN,"4,999","4,999",Mixed,Mixed,215969,64%,1,0.0,0.0
4,4,Apex Legends,NaN,NaN,NaN,NaN,NaN,Free to play,Free to play,Positive,Very Positive,539297,85%,1,0.0,0.0
5,5,PUBG: BATTLEGROUNDS,NaN,NaN,NaN,NaN,NaN,Free to play,Free to play,Mixed,Mixed,2109992,56%,1,0.0,0.0
6,6,NARAKA: BLADEPOINT,NaN,NaN,NaN,NaN,NaN,"1,199","1,199",Positive,Mostly Positive,130245,73%,1,0.0,0.0
7,7,Dead by Daylight,2016-06-14,Behaviour Digital Inc.,Behaviour Digital Inc.,Action,Multi-player;Online Multi-Player;Co-op;Online ...,749,749,Positive,Very Positive,453698,81%,1,0.0,0.0
8,8,Warframe,2013-03-25,Digital Extremes,Digital Extremes,Action;Free to Play,Single-player;Multi-player;Co-op;Steam Trading...,Free to play,Free to play,Positive,Very Positive,512887,87%,1,0.0,0.0
9,9,War Thunder,2013-08-15,Gaijin Entertainment,Gaijin Entertainment,Action;Free to Play;Massively Multiplayer;Simu...,Single-player;MMO;Co-op;Cross-Platform Multipl...,Free to play,Free to play,Positive,Mixed,28437,48%,1,1.0,1.0

In [33]:
unique_developer = df_developer["developer"].unique().tolist()
unique_developer

['Valve;Hidden Path Entertainment',
 'Valve',
 nan,
 'Behaviour Digital Inc.',
 'Digital Extremes',
 'Gaijin Entertainment',
 'Rockstar North',
 'Zenimax Online Studios',
 'Ludeon Studios',
 'Facepunch Studios',
 'SCS Software',
 'Ubisoft Montreal',
 'Square Enix',
 'Colossal Order Ltd.',
 'The Indie Stone',
 'Wargaming Group Limited',
 'Redbeet Interactive',
 'Hello Games',
 'Endnight Games Ltd',
 'Firaxis Games;Aspyr (Mac);Aspyr (Linux)',
 'NeocoreGames',
 'Paradox Development Studio',
 'Bethesda Game Studios',
 'Studio Wildcard;Instinct Games;Efecto Studios;Virtual Basement LLC',
 'Expansive Worlds',
 'Gamepires;Croteam',
 'ConcernedApe',
 'Re-Logic',
 'Ghost Ship Games',
 'Klei Entertainment',
 'Treyarch;Aspyr (Mac)',
 'BeamNG',
 'Titan Forge Games',
 'Bohemia Interactive',
 'Fatshark',
 'Egosoft',
 'Kunos Simulazioni',
 'Ninja Kiwi',
 'Hopoo Games',
 'Nicalis, Inc.',
 'OVERKILL - a Starbreeze Studio.',
 'CREATIVE ASSEMBLY;Feral Interactive (Mac);Feral Interactive (Linux)',
 'CD PROJEKT RED',
 'Funcom',
 'Wube Software LTD.',
 'Pixonic',
 'Offworld Industries',
 'Ubisoft Quebec;Ubisoft Montreal;Ubisoft Bucharest;Ubisoft Singapore;Ubisoft Montpellier;Ubisoft Kiev;Ubisoft Shanghai',
 'CAPCOM Co., Ltd.',
 'Beat Games',
 'Innersloth',
 'The Fun Pimps',
 'VRChat Inc.',
 'Blue Mammoth Games',
 'Eagle Dynamics SA',
 'Limbic Entertainment',
 'Larian Studios',
 'iRacing.com Motorsport Simulations;iRacing',
 'CCP',
 'Motion Twin',
 'Team Cherry',
 'Ubisoft Paris;Ubisoft Annecy;Ubisoft Bucharest;Ubisoft Montpellier;Ubisoft Milan;Reflections;Ubisoft Belgrade',
 'Rebuilt Games',
 'Ubisoft Montreal;Ubisoft Quebec;Ubisoft Toronto;Blue Byte',
 'Unknown Worlds Entertainment',
 'Studio MDHR Entertainment Inc.',
 'Berserk Games',
 'CREATIVE ASSEMBLY;Feral Interactive (Linux);Feral Interactive (Mac)',
 'Empyrean',
 'Keen Software House',
 'CarX Technologies',
 'Techland',
 'Booming Games',
 'Sandbox Interactive GmbH',
 'Konami Digital Entertainment',
 'Grinding Gear Games',
 'Ghost Town Games Ltd.;Team17 Digital Ltd',
 'Mega Crit Games',
 '11 bit studios',
 'Frontier Developments',
 'Creepy Jar',
 'No Brakes Games',
 'Cygames, Inc.',
 'Clapfoot',
 'FromSoftware, Inc.',
 'The Sims Studio',
 'QLOC;DIMPS',
 'New World Interactive',
 'WarpFrog',
 'System Era Softworks',
 'Shiro Games',
 'Crate Entertainment',
 'Cryptic Studios',
 'Sunfire Software',
 'Targem Games',
 'Landfall',
 'Fishing Planet LLC',
 'Obsidian Entertainment',
 'CREATIVE ASSEMBLY',
 'QLOC',
 'Azerion;YoudaGames',
 'Evil Mojo Games',
 'Lo-Fi Games',
 'Studio 397',
 'BANDAI NAMCO Studios',
 'Gearbox Software;Aspyr (Mac);Aspyr (Linux)',
 'Treyarch',
 'BANDAI NAMCO Studios Inc.',
 'Codemasters',
 'Blacklight Interactive',
 'Daybreak Game Company',
 'Squad',
 'Trion Worlds',
 'Warhorse Studios',
 'BlackFoot Studios',
 'Introversion Software',
 'Ubisoft Montreal;Red Storm;Ubisoft Shanghai;Ubisoft Toronto;Ubisoft Kiev',
 'Codename Entertainment Inc.',
 'Square Enix;PlatinumGames Inc.',
 'Hinterland Studio Inc.',
 'TECOPARK',
 'Russian Fishing',
 'Monolith Productions',
 'CyberConnect2 Co. Ltd.',
 'Ubisoft',
 'Afterthought LLC',
 'Tripwire Interactive',
 'Red Hook Studios',
 'Arc System Works',
 'Rocksteady Studios',
 'Relic Entertainment;Feral Interactive (Mac);Feral Interactive (Linux)',
 'davevillz',
 '2 Zombie Games',
 'IronOak Games',
 'Soleil Ltd.',
 'Boneloaf',
 '1C Game Studios;777 Studios',
 'Standing Stone Games, LLC',
 'EarthWork Games',
 'Axolot Games',
 'Beam Team Games',
 'Ivory Tower',
 'Camshaft Software',
 'Ubisoft - San Francisco',
 'Two Point Studios',
 'Firaxis Games;Feral Interactive (Mac);Feral Interactive (Linux)',
 'Ubisoft Entertainment',
 'Giants Software',
 'Playa Games GmbH',
 'Eek! Games, LLC',
 'Tarsier Studios',
 'Monomi Park',
 'Strange Loop Games',
 'CyberLight Game Studio',
 'Ubisoft Quebec, in collaboration with Ubisoft Annecy, Bucharest, Kiev, Montreal, Montpellier, Shanghai, Singapore, Sofia, Toronto studios',
 'RobTop Games',
 'Bennett Foddy',
 'Boundless Dynamics, LLC',
 'Gameloft',
 'MR-Software GbR',
 'SkyBox Labs;Ensemble Studios',
 '7th Beat Games',
 'Amistech Games',
 'Clever Endeavour Games',
 'Against Gravity®',
 'FantaBlade Network',
 'Numantian Games',
 'Forward Development, Ltd.',
 'tobyfox',
 'Maxis\x99',
 'Bugbear',
 'Landfall West',
 'Proxy Studios',
 'Sledgehammer Games;Raven Software',
 'Capcom',
 'The Behemoth',
 'Turning Wheel LLC',
 'Crowbar Collective',
 'Infinity Ward',
 'Jackbox Games, Inc.',
 'PopCap Games, Inc.',
 'Sad Panda Studios',
 'Red Barrels',
 'id Software',
 'Overhype Studios',
 'IO Interactive A/S',
 'Matt Makes Games Inc.',
 'My.com',
 'Claudiu Kiss;The Irregular Corporation',
 'Overflow',
 'Lucas Pope',
 'PlatinumGames',
 'Ndemic Creations',
 'GSC Game World',
 'IllFonic',
 'Raven Software;Beenox',
 'Team17 Digital Ltd;Mouldy Toof Studios',
 'TaleWorlds Entertainment',
 'SEGA',
 'Perfuse Entertainment',
 'Coffee Stain Studios',
 'Lionhead Studios',
 'Steel Crate Games',
 'Rebellion',
 'Digitalmindsoft',
 'Ubisoft Pune',
 'BANDAI NAMCO Studios;Dimps Corporation',
 'Caveman Studio',
 'Milkstone Studios',
 'Boxelware',
 'Volcanoid',
 'Ubisoft Montreal, Red Storm, Shanghai, Toronto, Kiev',
 'Ubisoft San Francisco',
 'Polymorph Games',
 'Shawn Hitchcock',
 'Haemimont Games',
 '4A Games',
 '3Division',
 'Project Moon',
 'Yacht Club Games',
 'Noble Muffins',
 'Dodge Roll',
 'Sector3 Studios',
 'FromSoftware, Inc',
 'Noio;Coatsink',
 'Dorado Games',
 'Lion Shield, LLC',
 'EA Redwood Shores',
 'Arkane Studios',
 'Askiisoft',
 'Iron Lore Entertainment;THQ Nordic',
 'RuneStorm',
 'Irrational Games;Aspyr (Mac);Virtual Programming (Linux)',
 'Elias Viglione;Jussi Kukkonen',
 'Lazy Bear Games',
 'Harebrained Schemes',
 'Catobyte',
 'SANDLOT',
 'Massive Entertainment',
 'Chucklefish',
 'Pathless Games',
 'Barrel Roll Games',
 'Creative Assembly;Feral Interactive (Mac);Feral Interactive (Linux)',
 'Matt Dabrowski',
 'Dan Fornace',
 'WB Games Montreal;Splash Damage',
 'Noah System;Mgame',
 'Zen Studios',
 'Infinity Plus 2',
 'Gears for Breakfast',
 'SteelRaven7',
 'Tango Gameworks',
 'Crystal Dynamics;Eidos-Montréal;Feral Interactive (Mac);Feral Interactive (Linux);Nixxes software',
 'Purple Lamp Studios;GolemLabs',
 '2K Australia;Gearbox Software;Aspyr (Mac);Aspyr (Linux)',
 'Relic Entertainment',
 'Flashbulb',
 'Bigmoon Entertainment',
 'RETO MOTO',
 'BioWare',
 'RUST LTD.',
 'TML-Studios',
 'Giant Sparrow',
 'Ubisoft Montreal, Massive Entertainment, and Ubisoft Shanghai',
 'Vicarious Visions;Iron Galaxy',
 'DIMPS',
 'Lukas Rustemeyer',
 'Ubisoft Annecy;Ubisoft Montpellier;Ubisoft Kiev',
 'SadSquare Studio',
 'SUPERHOT Team',
 'HANBITSOFT, INC.;IMC GAMES CO.,LTD.',
 'EA Los Angeles',
 'Skunkape Interactive',
 'Old B1ood',
 'Smartly Dressed Games',
 'KOEI TECMO GAMES CO., LTD.',
 'Freaking Games',
 'Polished Games',
 'Perun Creative',
 'South East Games',
 'Obsidian Entertainment;My.com',
 'Sukeban Games',
 'Petroglyph',
 'QLOC;BANDAI NAMCO Studios Inc.',
 'Total Mayhem Games',
 'DotEmu',
 'Infinity Ward;Aspyr (Mac)',
 'Trendy Entertainment',
 'The Farm 51',
 'Radical Fish Games',
 'Beautiful Glitch',
 'NetherRealm Studios;QLOC',
 'Bare Mettle Entertainment',
 'Expansive Worlds;Avalanche Studios',
 'Level-5',
 'Eugen Systems',
 'Rati Wattanakornprasit',
 'Tomorrow Corporation',
 'Spike Chunsoft Co., Ltd.',
 'Payload Studios',
 'Laminar Research',
 "Devil's Details",
 'Electrovore',
 'Bulwark Studios',
 'Pathea Games',
 'NS STUDIO',
 'United Front Games;Feral Interactive (Mac)',
 'Oxymoron Games',
 'Texel Raptor',
 'Ninja Theory',
 'Saber Interactive',
 'Crackshell',
 'kChamp Games',
 'Crytivo',
 'Digital Cybercherries',
 'NetEase Games',
 'Avalanche Studios',
 'CREATIVE ASSEMBLY;Feral Interactive (Mac)',
 'Demiurge Studios',
 'Little Cat Feet',
 'Crystal Dynamics;Eidos-Montréal;Feral Interactive (Mac);Feral Interactive (Linux)',
 'Slug Disco Studios',
 'Joycity',
 'Campfire Games',
 'Weather Factory',
 'Berzerk Studio',
 'Microsoft Game Studios',
 'Frictional Games',
 'Nomada Studio',
 'PixelTail Games',
 'Team17 Digital Ltd',
 'Eleon Game Studios',
 'Campo Santo',
 'Brace Yourself Games',
 'WeirdBeard',
 '14° East',
 'Frozenbyte',
 'Fakt Software',
 'Spiderling Studios',
 'Anvil Game Studios',
 'BlankMediaGames',
 'Beamdog',
 'David Szymanski',
 'Free Lives',
 'Ubisoft Sofia;Ubisoft Kiev',
 'Monolith',
 'Neople',
 'AlphaSoft LLC',
 'Doborog Games',
 'Spike Chunsoft Co., Ltd.;Abstraction Games',
 'Shining Rock Software LLC',
 'HopFrog',
 'Subset Games',
 'Other Ocean Interactive',
 'Machine Games',
 'Rockstar Studios',
 'Videocult',
 'NEXT Studios',
 'Tindalos Interactive',
 'MAGES. Inc.',
 'Gaming Minds Studios',
 'Ubisoft Montreal;Ubisoft Kiev;Ubisoft Shanghai',
 'Gray Matter Studios',
 "Traveller's Tales;Feral Interactive (Mac)",
 'Infinite Fall',
 'Antimatter Games;Tripwire Interactive',
 'Code Horizon',
 'Troika Games',
 'Playdead',
 "Ivan Zanotti's MyMadnessWorks",
 'Marvelous Inc.',
 'Dinosaur Polo Club',
 'FireFly Studios',
 'Running With Scissors',
 'Dennaton Games',
 'BetaDwarf',
 'Planetary Annihilation Inc',
 'DONTNOD Entertainment;Feral Interactive (Mac);Feral Interactive (Linux)',
 'MONKEYCRAFT Co. Ltd.',
 'Lucky VR Inc.',
 'Owlchemy Labs',
 'BANDAI NAMCO Studio Inc.',
 'Hempuli Oy',
 'Keen Games',
 'Christian Whitehead;Headcannon;PagodaWest Games',
 'Deep Silver Volition',
 '3X Entertainment Limited',
 'Ghost Town Games Ltd.',
 'Madruga Works',
 'Scott Cawthon',
 'Pandemic Studios',
 'Extreme Developers',
 'Team Bondi;Rockstar Leeds',
 'Capcom Game Studio Vancouver',
 'Grapeshot Games;Instinct Games',
 'PixelCount Studios',
 'EA - Maxis;Aspyr (Mac)',
 'Rockstar New England',
 'KOG',
 'Pixile',
 'Marmalade Game Studio Ltd',
 'Thekla, Inc.',
 'Nomad Games',
 'Acid Wizard Studio',
 'Artix Entertainment, LLC',
 'Leafy Games',
 'Asymmetric',
 'Ensemble Studios;Behaviour Interactive;343 Industries',
 'Visceral Games',
 'Disruptor Beam Inc.',
 'RageSquid',
 'Red Dot Games',
 'Chimeric',
 'Apoapsis Studios',
 'Sixteen Tons Entertainment',
 'Glowstick Entertainment',
 'Avalanche Studios;Feral Interactive (Mac);Feral Interactive (Linux)',
 'Subworld',
 'ColdGames',
 'Periscope Games',
 'Dry Cactus',
 'Dekovir Entertainment',
 'Freebird Games',
 'Orange_Juice',
 'Panoramik Inc',
 'EA - Maxis',
 'Crytek',
 'Ubisoft Toronto',
 'BioWare;Aspyr (Mac)',
 'DONTNOD Entertainment',
 'EQ-Games , Pixel Dash Studios',
 'Gearbox Software',
 'Square Enix;DotEmu SAS.',
 'Heart Machine',
 'Gamious',
 'Fireproof Games',
 'Atelier 801',
 'Gearbox Software;Aspyr (Mac)',
 'Volition',
 'Undead Labs',
 'LucasArts',
 'Creaky Corpse Ltd',
 'DoubleDutch Games',
 'TT Games',
 'NEKO WORKs',
 'Game-Labs',
 'TT Games;Feral Interactive (Mac)',
 'Luckyhammers',
 'VisualArts/Key',
 'SkyBox Labs;Big Huge Games',
 'Compulsion Games',
 'Ska Studios',
 'Hyper Hippo Games',
 'Killerfish Games',
 'Hendrik Felix Pohl',
 'Dynamic Pixels',
 'KIXEYE',
 'Rocksteady Studios;Feral Interactive (Mac)',
 'Piranha Bytes',
 'KAGAMI WORKs',
 'Chris Sawyer Productions',
 'Capcom Game Studio Vancouver, Inc.',
 'Downpour Interactive',
 'Mimimi Productions',
 'Killmonday Games AB',
 'RocketWerkz',
 'Digital Sun',
 'Black Delta',
 'BANDAI NAMCO Entertainment Inc.',
 'Hunted Cow Studios',
 'Sastrei Studios, LLC',
 'Freehold Games',
 'Brilliant Skies Ltd.',
 'Deli Interactive LLC',
 'Galactic Cafe',
 'Eidos Montreal;Feral Interactive (Linux);Feral Interactive (Mac)',
 'Cyanide Studio',
 'The Game Bakers',
 'Cyanide Studios',
 'Kite Games',
 'MercurySteam',
 'Runic Games',
 'Z4',
 'TT Games Ltd;Feral Interactive (Mac)',
 'Circle Five Studios;Pub Games',
 'Days of Wonder',
 'Juppiomenz',
 'HuniePot',
 'Rusty Lake',
 'League of Geeks',
 "Traveller's Tales",
 'Remtairy;Happy Life',
 'Buried Signal',
 'Jutsu Games',
 'Blackbird Interactive',
 'Origin8 Technologies Ltd.',
 'Shugasu GmbH',
 'Runewaker Entertainment',
 'Landon Podbielski',
 "Traveller's Tales;TT Games;Feral Interactive (Mac)",
 'Okomotive',
 'Osumia Games',
 'Realmforge Studios',
 'Stygian Software',
 'Telltale Games',
 'Flow Fire Games',
 'Nihon Falcom',
 'ATLUS',
 'DICE',
 'Triumph Studios',
 'Rafael Burgos',
 'Piranha Games Inc.',
 'CRAZYDIAMOND CO., LTD.',
 'WOLCEN Studio',
 'IMCGAMES Co.,Ltd.',
 'AQURIA',
 'Creobit',
 'RedRuins Softworks',
 'Playsport Games',
 'Usurpator AB',
 'Amanita Design',
 'Croteam',
 'Io-Interactive A/S;Feral Interactive (Mac)',
 'Contingent99',
 'PlatinumGames;Little Stone Software',
 'The Knights of Unity',
 'Bugbear Entertainment',
 'Pieces Interactive',
 'CI Games',
 'Grey Havens, LLC',
 'Black Lab Games',
 'David Stark',
 'Star Gem Inc.',
 'Gunfire Games',
 'Tamsoft',
 'Remedy Entertainment',
 'Fenix Fire Entertainment',
 'Robot Gentleman',
 'Chris Hecker;John Cimino',
 'HFM Games',
 'Obsidian Entertainment;Aspyr (Mac, Linux, & Windows Update)',
 'Erik Asmussen',
 'Zachtronics',
 'Indefatigable',
 'Greenheart Games',
 'Those Awesome Guys',
 'Other Tales Interactive',
 'Computer Lunch',
 'Asteroid Base',
 'Snail Games USA',
 'Runner Duck',
 'Ian Fitz',
 'CreSpirit;GemaYue',
 'Team Reptile',
 'Pocket Games;Fluid Games;GodSpeed Games',
 'MachineGames',
 'N3V Games',
 'Kylotonn',
 'stillalive studios',
 'GRASSHOPPER MANUFACTURE INC.;SUPERTRICK  GAMES,Inc.',
 'Firaxis Games',
 'Ubisoft Montpellier',
 'Arrowhead Game Studios',
 'Team Fractal Alligator',
 '6 Eyes Studio',
 'Synapse Games;Chinzilla',
 'TML-Studios;PEDEPE',
 'Novectacle',
 'Flying Wild Hog',
 'Brightrock Games',
 'AtomTeam',
 'Edmund McMillen and Florian Himsl',
 'Frogwares',
 'Vaka Game Magazine;Team Ladybug',
 'YAGER',
 'Fictiorama Studios;BadLand Games Publishing S.L.',
 'Statespace',
 'SNK CORPORATION',
 'LucasArts;Aspyr Studios',
 'Radical Entertainment',
 'Noble Empire Corp.',
 'Schell Games',
 'Automaton',
 'The Artistocrats',
 'Sokpop Collective',
 'Mane6, Inc.',
 'MercurySteam - Climax Studios',
 'Bit Golem',
 'inXile Entertainment',
 'Missing Digit',
 'Retrowave VR',
 'Blue Byte',
 'M2H;Blackmill Games',
 'Gas Powered Games',
 'Bevan McKechnie',
 'Sonic Team;Hardlight',
 'Stardock Entertainment',
 'CAPCOM CO., LTD.',
 'Lince Works',
 'Wolfire Games',
 'D3T',
 'Matt Workman',
 'Exozet',
 'Double Fine Productions',
 'The Bearded Ladies',
 'SNK CORPORATION;Abstraction Games',
 'Flamebait Games',
 'Digital Eclipse',
 'GrizzlyGames',
 'Netcore Games',
 'SMILE',
 'JIW-Games',
 'devotid',
 'KT Racing',
 'Asmodee Digital;Frima Studio',
 'The Drone Racing League',
 'GRASSHOPPER MANUFACTURE INC.;Engine Software BV',
 'Pipliz',
 'Aspyr Studios',
 'Awesome Games Studio',
 'Gunfire Games;Vigil Games;THQ Nordic',
 "TT Games;Traveller's Tales",
 'Superboss Games',
 'Capcom Vancouver',
 'Magic Pixel Kft.',
 'Supergiant Games',
 'Failbetter Games',
 'Altfuture',
 'I-Inferno',
 'Electronic Arts',
 'Deconstructeam',
 'Deck Nine;Feral Interactive (Mac);Feral Interactive (Linux)',
 'Impressions Games',
 'Destructive Creations',
 'Tendershoot;Michael Lasch;ThatWhichIs Media',
 'TARO',
 'Eidos Montreal;Feral Interactive (Mac)',
 'upjers',
 'No Matter Studios',
 'Daedalic Entertainment',
 'SomaSim',
 'Samurai Punk',
 'Stoic',
 'Raven Software;Aspyr (Mac)',
 'yeo',
 'AMPLITUDE Studios',
 'Jundroo, LLC',
 'Daniel Mullins Games',
 '5th Cell Media',
 'UBIart Montpellier;Feral Interactive (Mac)',
 'Defiant Development',
 'Playsaurus',
 'ToastieLabs',
 'ExDevs LTD',
 'INTI CREATES CO., LTD.',
 'Blue Brain Games',
 'Rocketcat Games;Madgarden',
 'XREAL Games',
 'Candymakers',
 'Sauropod Studio',
 'Mouldy Toof Studios',
 'Blackmill Games;M2H',
 'Yuzusoft',
 'Ben Esposito',
 'Supra Games',
 'PixelShard;KillHouse Games',
 'Stefan Kelnberger',
 'Rigidbody',
 'Midgar Studio',
 'Nerve Software, Gearbox Software, LLC',
 'Crytek Studios',
 'Iron Galaxy',
 'Pipeworks Studio',
 'DragonSnow',
 'JumpStart Games, Inc.',
 'Digital Confectioners',
 'Insomniac Games;Blind Squirrel Games',
 'Fayju',
 'Humongous Entertainment',
 'Eastshade Studios',
 'AtomicTorch Studio',
 'Relic Entertainment;Feral Interactive (Mac/Linux)',
 'Nikhil Tailor;Ariflare',
 'Black Isle Studios',
 'EQ Studios',
 'BlackTale Games',
 'Playata GmbH',
 'Sigma Team Inc.',
 'Alexey Bokulev;Sergei Klimov;Charlie Oscar Lima Tango Interactive Entertainment',
 'Artdink',
 'Nick Kestle',
 'Emre Tanirgan',
 'Eidos-Montréal;Feral Interactive (Mac)',
 'Giant Squid',
 'Nival',
 'Necrophone Games',
 'Jace Masula',
 'Fummy',
 'CyberConnect2',
 'Survios',
 'Team NINJA;KOEI TECMO GAMES CO., LTD.',
 'Warm Lamp Games',
 'Polyarc',
 'Sluggerfly',
 'Acerola',
 'Whiskeybarrel Studios',
 'Blit Software',
 'Studio Nanafushi',
 '07th Expansion',
 'DigitalDNA Games LLC',
 'Jason Rohrer',
 'Game Grumps',
 'Irrational Games;Looking Glass Studios',
 'NGD Studios',
 'Epic Games, Inc.',
 'AIGRIND',
 'Frontier Developments;Asobo Studio',
 'Toast',
 'Pentadimensional Games, SL',
 'YGGDRAZIL GROUP CO.,LTD',
 'Alexander Bruce',
 'Stellar Jockeys;Gausswerks',
 'Feperd Games',
 'Sonic Team',
 'People Can Fly',
 'Pyro Studios',
 'Modern Dream',
 'Elder Game, LLC',
 'Nuke Nine',
 'Brilliant Game Studios',
 'Coredumping',
 'Io-Interactive A/S',
 'CGE Digital',
 'AQURIA Co., Ltd.',
 'Rogue Factor',
 'Powerhoof',
 'Microids',
 'Stardock Entertainment;Oxide Games',
 'ROCKFISH Games',
 'Reikon Games',
 'Stonebrick Studios UG',
 'Klonk Games',
 'Wx3 Labs',
 'Gentlymad Studios',
 'Gaugepunk Games',
 'Sloclap',
 'Sonic Team;Bitbaboon',
 'Twice Circled',
 'Vile Monarch',
 'Ion Storm',
 'Interplay Inc.',
 'Luden.io',
 'Neat Corporation',
 'Crazy Monkey Studios;Claeysbrothers',
 'GalaxyTrail',
 'minori',
 'Handelabra Games Inc.',
 'Aquiris Game Studio',
 'Adriaan de Jongh;Sylvain Tegroeg',
 'Graviteam',
 'City Interactive',
 'Matt Roszak',
 'Mash Games',
 'Virtual Racing Industries Ltd.',
 'PiBoSo',
 'Eight Pixels Square',
 'JoWooD Vienna',
 'WildTangent',
 'Oleg Sergeev;Andrey Rumak;Do My Best',
 'Con Man Games;SmashGames',
 'Radiant Entertainment',
 'Albino Moose Games',
 'Illusion Softworks',
 'Reiza Studios',
 'Raymond Doerr',
 'Young Horses',
 'Kudosoft',
 'sen',
 'Sassybot',
 'Reflect Studios',
 'Arnaud De Bock;Rémi Forcadell;Alan Zucconi;Calum Bowen',
 'Ubisoft Blue Byte',
 'Drool',
 'Almost Human Games',
 'Playful Corp.',
 'WashBear',
 'Sam Barlow',
 'SONNORI Corp',
 'Loading Home',
 'Jesse Makkonen',
 'Ole Lange',
 'Thunder Lotus Games',
 'Ionized Studios',
 'Milestone S.r.l.',
 'Volition;KAIKO',
 'Hyperstrange',
 'inkle Ltd',
 'Nerial',
 'Allods Team',
 'Dire Wolf Digital',
 'Sparpweed;Codeglue',
 'Ripstone',
 'Logic Artists',
 'Illwinter Game Design',
 'Alexey Davydov;Sergey Dvoynikov;Timofey Shargorodskiy',
 'KIRA',
 'Monstars Inc.;Resonair',
 'Mediatonic;Hato Moa;The Irregular Corporation',
 'TEAM HORAY',
 'Mixed Realms Pte Ltd;Swag Soft Holdings Pte Ltd',
 'Porcelain Fortress',
 'Rebel Games;Team6 game studios',
 'Ubisoft Paris;Red Storm Entertainment',
 'Suncrash',
 'RedCandleGames',
 'Team Fusion Simulations;1C: Maddox Games',
 'Sorath',
 'Rainbow Studios',
 'D-Pad Studio',
 'Quiet River',
 'CFK Co., Ltd.',
 'Blue Byte;Related Designs',
 'Stress Level Zero',
 '4HEAD Studios',
 'Corroding Games',
 'Prideful Sloth',
 'Ivory Tower in collaboration with Ubisoft Reflections',
 'Dambuster Studios',
 'TBDTS Games',
 'Sabotage',
 'Spooky Doorway',
 'CyberConnect2 Co., Ltd.',
 'Plukit',
 'Bossa Studios',
 'Digital Leisure Inc.',
 'Pinokl Games;Kverta;Hologryph',
 'Bitten Toast Games Inc.',
 'Triumph Studios;Virtual Programming',
 'Noio',
 'Fredaikis AB',
 'ACE Team',
 'RewindApp',
 'Sparkypants Studios, LLC',
 'Wadjet Eye Games',
 'Neognosis',
 'Stray Fawn Studio',
 'Vlambeer',
 'PanicBarn',
 'Delve Interactive',
 'O.T.K Games',
 'VALOFE;NEXON',
 'OVERKILL Software',
 'XGen Studios',
 'Image & Form Games',
 'Pixelsplit Simulations',
 'Number None',
 'CtrlMovie',
 'Bankroll Studios',
 'SEGA Studios Australia;Feral Interactive (Mac)',
 'Digital Dreams Entertainment LLC',
 'Forgotten Key',
 'Divine Games',
 'NIMONIX',
 'Ensemble Studios',
 'Messhof',
 'DrinkBox Studios',
 'DryGin Studios',
 'Robot Entertainment',

In [34]:
df_developer["genres"].isnull().sum()

50064

In [35]:
df_developer["price"].unique

<bound method Series.unique of 0        Free to play
1        Free to play
2               2,199
3               4,999
4        Free to play
             ...
73340    Free to play
73341             219
73342    Free to play
73343    Free to play
73344    Free to play
Name: price, Length: 73345, dtype: object>

In [36]:
df_developer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73345 entries, 0 to 73344
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           73341 non-null  object
 1   title                        73341 non-null  object
 2   release_date                 23281 non-null  object
 3   developer                    23281 non-null  object
 4   publisher                    23281 non-null  object
 5   genres                       23281 non-null  object
 6   multiplayer_or_singleplayer  23281 non-null  object
 7   price                        73340 non-null  object
 8   dc_price                     73340 non-null  object
 9   overall_review               36875 non-null  object
 10  detailed_review              36865 non-null  object
 11  reviews                      36865 non-null  object
 12  percent_positive             36865 non-null  object
 13  win_support                  73335 non-null  object
 14  mac_support                  73340 non-null  float64
 15  lin_support                  73339 non-null  float64
dtypes: float64(2), object(14)
memory usage: 9.0+ MB

In [37]:
df_developer.head(2)

,id,title,release_date,developer,publisher,genres,multiplayer_or_singleplayer,price,dc_price,overall_review,detailed_review,reviews,percent_positive,win_support,mac_support,lin_support
0,0,Counter-Strike: Global Offensive,2012-08-21,Valve;Hidden Path Entertainment,Valve,Action;Free to Play,Multi-player;Steam Achievements;Full controlle...,Free to play,Free to play,Positive,Very Positive,6774812,88%,1,1.0,1.0
1,1,Dota 2,2013-07-09,Valve,Valve,Action;Free to Play;Strategy,Multi-player;Co-op;Steam Trading Cards;Steam W...,Free to play,Free to play,Positive,Very Positive,1885261,82%,1,1.0,1.0

In [38]:
df_developer.columns

Index(['id', 'title', 'release_date', 'developer', 'publisher', 'genres',
       'multiplayer_or_singleplayer', 'price', 'dc_price', 'overall_review',
       'detailed_review', 'reviews', 'percent_positive', 'win_support',
       'mac_support', 'lin_support'],
      dtype='object')

In [39]:
df_developer.drop(["genres","detailed_review","overall_review","reviews","percent_positive",
                 "win_support","mac_support","lin_support"],axis=1,inplace=True)

In [40]:
df_developer.head()

,id,title,release_date,developer,publisher,multiplayer_or_singleplayer,price,dc_price
0,0,Counter-Strike: Global Offensive,2012-08-21,Valve;Hidden Path Entertainment,Valve,Multi-player;Steam Achievements;Full controlle...,Free to play,Free to play
1,1,Dota 2,2013-07-09,Valve,Valve,Multi-player;Co-op;Steam Trading Cards;Steam W...,Free to play,Free to play
2,2,"Warhammer 40,000: Darktide",NaN,NaN,NaN,NaN,"2,199","2,199"
3,3,Call of Duty®: Modern Warfare® II,NaN,NaN,NaN,NaN,"4,999","4,999"
4,4,Apex Legends,NaN,NaN,NaN,NaN,Free to play,Free to play

In [41]:
df_developer["release_date"].isnull().sum()

50064

In [42]:
df_developer.shape

(73345, 8)

# DROPEAREMOS LAS COLUMNAS QUE NOS SOBREN QUE SERÁN LAS RELACIONADAS CON RATING Y GENERO, DADO QUE ESTA INFORMACIÓN LA SACAREMOS DEL SCRAPPING

In [43]:
df_hours.head()

   ID                            \nName  Peak No. of Players   Hours Played
0   1  Counter-Strike: Global Offensive              944895.0   411196700.0
1   2                          Lost Ark              580042.0   279812296.0
2   3                            Dota 2              719422.0   326014122.0
3   4               PUBG: BATTLEGROUNDS              524023.0   159781183.0
4   5                      Apex Legends              370651.0   137813200.0

In [44]:
df_hours.to_csv('hours.csv', header=False, index=False)

In [45]:
df_developer.head()

,id,title,release_date,developer,publisher,multiplayer_or_singleplayer,price,dc_price
0,0,Counter-Strike: Global Offensive,2012-08-21,Valve;Hidden Path Entertainment,Valve,Multi-player;Steam Achievements;Full controlle...,Free to play,Free to play
1,1,Dota 2,2013-07-09,Valve,Valve,Multi-player;Co-op;Steam Trading Cards;Steam W...,Free to play,Free to play
2,2,"Warhammer 40,000: Darktide",NaN,NaN,NaN,NaN,"2,199","2,199"
3,3,Call of Duty®: Modern Warfare® II,NaN,NaN,NaN,NaN,"4,999","4,999"
4,4,Apex Legends,NaN,NaN,NaN,NaN,Free to play,Free to play

In [46]:
df_developer.drop(["release_date"],axis = 1,inplace = True)

In [47]:
df_title.head()

,ResponseName,ReleaseDate,Metacritic,RecommendationCount,IsFree,PriceInitial
0,Counter-Strike,Nov 1 2000,88,68991,False,9.99
1,Team Fortress Classic,Apr 1 1999,0,2439,False,4.99
2,Day of Defeat,May 1 2003,79,2319,False,4.99
3,Deathmatch Classic,Jun 1 2001,0,888,False,4.99
4,Half-Life: Opposing Force,Nov 1 1999,0,2934,False,4.99

In [48]:
df_title.drop(["IsFree"],axis = 1,inplace = True)

In [49]:
df_developer.drop(["id"],axis = 1,inplace = True)

In [50]:
df_developer.head()

,title,developer,publisher,multiplayer_or_singleplayer,price,dc_price
0,Counter-Strike: Global Offensive,Valve;Hidden Path Entertainment,Valve,Multi-player;Steam Achievements;Full controlle...,Free to play,Free to play
1,Dota 2,Valve,Valve,Multi-player;Co-op;Steam Trading Cards;Steam W...,Free to play,Free to play
2,"Warhammer 40,000: Darktide",NaN,NaN,NaN,"2,199","2,199"
3,Call of Duty®: Modern Warfare® II,NaN,NaN,NaN,"4,999","4,999"
4,Apex Legends,NaN,NaN,NaN,Free to play,Free to play

In [51]:
df_hours.head()

   ID                            \nName  Peak No. of Players   Hours Played
0   1  Counter-Strike: Global Offensive              944895.0   411196700.0
1   2                          Lost Ark              580042.0   279812296.0
2   3                            Dota 2              719422.0   326014122.0
3   4               PUBG: BATTLEGROUNDS              524023.0   159781183.0
4   5                      Apex Legends              370651.0   137813200.0

In [52]:
df_hours.rename(columns = {'\nName':'title',"Peak No. of Players":"Max.Players"}, inplace = True)

In [53]:
df_hours.rename(columns = {"Peak No. of Players":"Max.Players"}, inplace = True)

In [54]:
df_hours.head()

   ID                             title  Peak No. of Players   Hours Played
0   1  Counter-Strike: Global Offensive              944895.0   411196700.0
1   2                          Lost Ark              580042.0   279812296.0
2   3                            Dota 2              719422.0   326014122.0
3   4               PUBG: BATTLEGROUNDS              524023.0   159781183.0
4   5                      Apex Legends              370651.0   137813200.0

In [55]:
df_title.head()

,ResponseName,ReleaseDate,Metacritic,RecommendationCount,PriceInitial
0,Counter-Strike,Nov 1 2000,88,68991,9.99
1,Team Fortress Classic,Apr 1 1999,0,2439,4.99
2,Day of Defeat,May 1 2003,79,2319,4.99
3,Deathmatch Classic,Jun 1 2001,0,888,4.99
4,Half-Life: Opposing Force,Nov 1 1999,0,2934,4.99

In [56]:
df_title.shape

(12624, 5)

In [57]:
df_title["ReleaseDate"].isnull().sum()

86

In [58]:
df_title["PriceInitial"].isnull().sum()

0

In [59]:
df_title.drop(["Metacritic"],axis = 1,inplace = True)

In [60]:
df_title.shape

(12624, 4)

In [61]:
df_title

,ResponseName,ReleaseDate,RecommendationCount,PriceInitial
0,Counter-Strike,Nov 1 2000,68991,9.99
1,Team Fortress Classic,Apr 1 1999,2439,4.99
2,Day of Defeat,May 1 2003,2319,4.99
3,Deathmatch Classic,Jun 1 2001,888,4.99
4,Half-Life: Opposing Force,Nov 1 1999,2934,4.99
...,...,...,...,...
12619,ObserVR Beta,Oct 26 2016,0,0.00
12620,One Night Stand,NaN,0,0.00
12621,Fiber Twig: Midnight Puzzle,Oct 26 2016,0,2.99
12622,Charm Tale Quest,Oct 27 2016,0,2.99
12623,What The Heck Dude?,Nov 2 2016,0,0.00

In [63]:
df_developer.to_csv('developer.csv', header=True, index=False)

In [64]:
df_title

,ResponseName,ReleaseDate,RecommendationCount,PriceInitial
0,Counter-Strike,Nov 1 2000,68991,9.99
1,Team Fortress Classic,Apr 1 1999,2439,4.99
2,Day of Defeat,May 1 2003,2319,4.99
3,Deathmatch Classic,Jun 1 2001,888,4.99
4,Half-Life: Opposing Force,Nov 1 1999,2934,4.99
...,...,...,...,...
12619,ObserVR Beta,Oct 26 2016,0,0.00
12620,One Night Stand,NaN,0,0.00
12621,Fiber Twig: Midnight Puzzle,Oct 26 2016,0,2.99
12622,Charm Tale Quest,Oct 27 2016,0,2.99
12623,What The Heck Dude?,Nov 2 2016,0,0.00

In [65]:
df_hours.shape

(200, 4)

In [66]:
df_developer.shape

(73345, 6)

In [67]:
df_imdb = pd.read_csv("../data/imbdb.csv")

In [68]:
df_imdb.head()

                                     title  rating                      genre
0              Kingdom Hearts HD 2.5 Remix     9.3  Action, Adventure, Family
1  The Legend of Zelda: Ocarina of Time 3D     9.3  Action, Adventure, Family
2                                    Dofus     9.3                  Adventure
3        Kingdom Hearts HD 1.5 + 2.5 Remix     9.3  Action, Adventure, Family
4                                  Bad Ben     9.3             Comedy, Horror

In [69]:
df_final = pd.concat([df_developer, df_title,df_imdb])
df_final

,title,developer,publisher,multiplayer_or_singleplayer,price,dc_price,ResponseName,ReleaseDate,RecommendationCount,PriceInitial,rating,genre
0,Counter-Strike: Global Offensive,Valve;Hidden Path Entertainment,Valve,Multi-player;Steam Achievements;Full controlle...,Free to play,Free to play,NaN,NaN,NaN,NaN,NaN,NaN
1,Dota 2,Valve,Valve,Multi-player;Co-op;Steam Trading Cards;Steam W...,Free to play,Free to play,NaN,NaN,NaN,NaN,NaN,NaN
2,"Warhammer 40,000: Darktide",NaN,NaN,NaN,"2,199","2,199",NaN,NaN,NaN,NaN,NaN,NaN
3,Call of Duty®: Modern Warfare® II,NaN,NaN,NaN,"4,999","4,999",NaN,NaN,NaN,NaN,NaN,NaN
4,Apex Legends,NaN,NaN,NaN,Free to play,Free to play,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10045,God of War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,"Action, Adventure, Drama"
10046,God of War III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,"Action, Adventure, Drama"
10047,Mass Effect,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,"Action, Adventure, Horror"
10048,Mass Effect 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,Action
10049,BioShock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,Action

In [70]:
df_final.drop(["ResponseName","ResponseName","RecommendationCount"],axis = 1,inplace = True)

In [71]:
df_final

,title,developer,publisher,multiplayer_or_singleplayer,price,dc_price,ReleaseDate,PriceInitial,rating,genre
0,Counter-Strike: Global Offensive,Valve;Hidden Path Entertainment,Valve,Multi-player;Steam Achievements;Full controlle...,Free to play,Free to play,NaN,NaN,NaN,NaN
1,Dota 2,Valve,Valve,Multi-player;Co-op;Steam Trading Cards;Steam W...,Free to play,Free to play,NaN,NaN,NaN,NaN
2,"Warhammer 40,000: Darktide",NaN,NaN,NaN,"2,199","2,199",NaN,NaN,NaN,NaN
3,Call of Duty®: Modern Warfare® II,NaN,NaN,NaN,"4,999","4,999",NaN,NaN,NaN,NaN
4,Apex Legends,NaN,NaN,NaN,Free to play,Free to play,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10045,God of War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,"Action, Adventure, Drama"
10046,God of War III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,"Action, Adventure, Drama"
10047,Mass Effect,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,"Action, Adventure, Horror"
10048,Mass Effect 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,Action
10049,BioShock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,Action

In [ ]:
df_final.to_csv('FINAL.csv', header=True, index=False)