In [5]:
import pandas as pd 
import numpy as np 
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import calendar 
%matplotlib inline
from wordcloud import WordCloud, STOPWORDS
import warnings
warnings.filterwarnings('ignore')

In [6]:
df_hours = pd.read_csv("data/Book1.csv")
df_title = pd.read_csv("data/games_steam.csv")
df_developer = pd.read_csv("data/games_data.csv", encoding= 'unicode_escape')

# EMPEZAMOS A TRABAJAR CON EL CSV DE HORAS Y PLAYERS,de aqui sacarémos los top 10 videojuegos jugados en referencia a horas y nº de Players

In [7]:
df_hours.head()

   ID                            \nName Peak No. of Players  Hours Played
0   1  Counter-Strike: Global Offensive              944,895  411,196,700
1   2                          Lost Ark              580,042  279,812,296
2   3                            Dota 2              719,422  326,014,122
3   4               PUBG: BATTLEGROUNDS              524,023  159,781,183
4   5                      Apex Legends              370,651  137,813,200

In [8]:
df_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    200 non-null    int64
 1
Name                 200 non-null    object
 2   Peak No. of Players   200 non-null    object
 3   Hours Played          200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [9]:

nulos_hours = (df_hours.isnull().sum() / df_hours.shape[0] * 100).reset_index()
nulos_hours = nulos_hours[nulos_hours[0] > 0]
nulos_hours.columns = ["columnas", "%_nulos"]
nulos_hours


df_hours.shape

(200, 4)

In [10]:
df_hours.shape

(200, 4)

In [11]:
df_hours.head()

   ID                            \nName Peak No. of Players  Hours Played
0   1  Counter-Strike: Global Offensive              944,895  411,196,700
1   2                          Lost Ark              580,042  279,812,296
2   3                            Dota 2              719,422  326,014,122
3   4               PUBG: BATTLEGROUNDS              524,023  159,781,183
4   5                      Apex Legends              370,651  137,813,200

In [12]:
df_hours.columns

Index(['ID', '\nName', 'Peak No. of Players ', 'Hours Played'], dtype='object')

In [13]:
df_hours['Hours Played']=df_hours['Hours Played'].str.replace(',','').astype('float64')

In [14]:
df_hours['Peak No. of Players '] = df_hours['Peak No. of Players '].str.replace(',','').astype('float64')

In [15]:
df_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    200 non-null    int64
 1
Name                 200 non-null    object
 2   Peak No. of Players   200 non-null    float64
 3   Hours Played          200 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ KB

In [16]:
df_hours.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,200.0,1.005000e+02,5.787918e+01,1.0,50.75,100.5,150.25,200.0
Peak No. of Players,200.0,4.044411e+04,1.051887e+05,2964.0,7609.50,14464.0,29625.50,944895.0
Hours Played,200.0,1.612826e+07,4.489661e+07,164366.0,2862349.25,4758623.5,11851169.75,411196700.0

In [17]:
#TOP JUEGOS POR HORAS DE TIEMPO JUGADAS
Max10Played = df_hours.sort_values(by='Hours Played',ascending=False).head(10)
Max10Played

    ID                            \nName  Peak No. of Players   Hours Played
0    1  Counter-Strike: Global Offensive              944895.0   411196700.0
2    3                            Dota 2              719422.0   326014122.0
1    2                          Lost Ark              580042.0   279812296.0
3    4               PUBG: BATTLEGROUNDS              524023.0   159781183.0
4    5                      Apex Legends              370651.0   137813200.0
7    8                        ELDEN RING              367192.0   130510173.0
5    6                Grand Theft Auto V              138025.0    60165044.0
9   10                              Rust              141983.0    57656656.0
11  12                   Team Fortress 2               94815.0    53764425.0
16  17                         Destiny 2               93881.0    41697664.0

In [18]:
#TOP JUEGOS POR  NÚMERO DE JUGADORES 
Max10Play = df_hours.sort_values(by='Peak No. of Players ',ascending=False).head(10)
Max10Play

    ID                            \nName  Peak No. of Players   Hours Played
0    1  Counter-Strike: Global Offensive              944895.0   411196700.0
2    3                            Dota 2              719422.0   326014122.0
1    2                          Lost Ark              580042.0   279812296.0
3    4               PUBG: BATTLEGROUNDS              524023.0   159781183.0
4    5                      Apex Legends              370651.0   137813200.0
7    8                        ELDEN RING              367192.0   130510173.0
9   10                              Rust              141983.0    57656656.0
6    7                NARAKA: BLADEPOINT              138617.0    39020908.0
5    6                Grand Theft Auto V              138025.0    60165044.0
12  13                      Dread Hunger              107437.0    31239372.0

In [19]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
def generate_cloud_normal(column, filename):

    text = " ".join(cat for cat in df_hours[column])

    word_cloud = WordCloud(
        width=7000,
        height=2000,
        background_color="black",
        colormap="OrRd",
        collocations=True,
        stopwords=STOPWORDS,
        ).generate(text)

    plt.imshow(word_cloud)
    plt.axis("off")

    
    plt.show()

    word_cloud.to_file(f'data/{filename}.png')

In [ ]:
generate_cloud_normal("\nName", "Hours Played" )

In [ ]:
top10Players=df_hours.sort_values(by='Peak No. of Players ',ascending=False).head(10)
top10Players

In [ ]:
sns.set_style("darkgrid")
plt.figure(figsize=(16,8))
sns.barplot(x='Peak No. of Players ',y='\nName',data=Max10Played,palette='hls')
plt.ylabel('Game Name',fontsize=15)
plt.xlabel('Nº Players',fontsize=15)
plt.title('Top 10 Players on',fontsize=18)

# AHORA INTENTAREMOS ENRIQUECER LA INFORMACIÓN CON  AÑOS DE LANZAMIENTO Y GENEROS DE LOS MISMOS, POR LO QUE INTENTAREMOS CONSEGUIR FILTROS DE LOS JUEGOS MAS JUGADOS SEGÚN SUS GENEROS Y VALORACIONES.
#Serán los titulos más valorados los más jugados ?
#Serán los juegos más jugados los mejores valorados? 
#INTENTAREMOS RESPONDER  A ESTAS QUESTIONES A PARTIR DE ESTE DATAFRAME . 
#UN

In [ ]:
df_title.head(10)

In [ ]:
df_title.info()

In [ ]:
df_title.shape

In [ ]:
df_title.describe()

In [ ]:
df_title.isnull().sum()

In [ ]:
#Calculamos el porcentaje de nulos que tiene nuestro dataset y en qué columna


nulos = (df_title.isnull().sum() / df_title.shape[0] * 100).reset_index()
nulos = nulos[nulos[0] > 0]
nulos.columns = ["columnas", "%_nulos"]
nulos

# Vamos a crear una columna nueva en la que extraigamos solamente los años de lanzamiento y a partir de la misma sacaremos la cantidad de juegos que han salido por año

In [ ]:
df_title= df_title.assign(Year = "")

In [ ]:
df_title.head()

In [ ]:
df_title.drop(['GenreIsNonGame',"GenreIsIndie","GenreIsAction","GenreIsAdventure","GenreIsCasual",
               "GenreIsStrategy","GenreIsRPG","GenreIsSimulation","GenreIsEarlyAccess","GenreIsFreeToPlay",
               "GenreIsSports","GenreIsRacing","GenreIsMassivelyMultiplayer"], axis=1,inplace = True)

In [ ]:
df_title.columns

In [ ]:
TopRated = df_title.sort_values(by='Metacritic',ascending=False).head(10)
TopRated

In [ ]:
sns.set_style("darkgrid")
plt.figure(figsize=(16,8))
sns.barplot(x='Metacritic',y='ResponseName',data=TopRated,palette='hls')
plt.ylabel('Nombre',fontsize=15)
plt.xlabel('Rate',fontsize=15)
plt.title('Top 10 Games by Rating',fontsize=18)

In [ ]:
df_developer.describe().T

In [ ]:
df_release.head(10)

In [ ]:
unique_developer = df_developer["developer"].unique().tolist()
unique_developer

In [ ]:
df_developer["genres"].isnull().sum()

In [ ]:
df_developer["price"].unique

In [ ]:
df_developer.info()

In [ ]:
sns.set_style("darkgrid")
plt.figure(figsize=(16,8))
sns.barplot(x='Metacritic',y='ResponseName',data=TopRated,palette='hls')
plt.ylabel('Nombre',fontsize=15)
plt.xlabel('Rate',fontsize=15)
plt.title('Top 10 Games by Rating',fontsize=18)

In [ ]:
df_developer.head(2)

In [ ]:
df_developer.columns

In [ ]:
df_developer.drop(["genres","detailed_review","overall_review","reviews","percent_positive",
                 "win_support","mac_support","lin_support"],axis=1,inplace=True)

In [ ]:
df_developer.head()

In [ ]:
df_developer["release_date"].isnull().sum()

In [ ]:
df_developer.shape

# DROPEAREMOS LAS COLUMNAS QUE NOS SOBREN QUE SERÁN LAS RELACIONADAS CON RATING Y GENERO, DADO QUE ESTA INFORMACIÓN LA SACAREMOS DEL SCRAPPING

In [ ]:
df_hours.head()

In [ ]:
df_developer.head()

In [ ]:
df_developer.drop(["release_date"],axis = 1,inplace = True)

In [ ]:
df_title.head()

In [ ]:
df_developer.head()

In [ ]:
df_title["ReleaseDate"].isnull().sum()

In [ ]:
df_title.shape